@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
/* padding: 5px; */

  box-sizing: border-box;
} 


body {
  
  padding: 35px;
  text-align: center;
  /* background: rgb(180, 195, 153); */
  color: #131313;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right, white,rgb(82, 231, 107)  );
}
h1 {
  margin: 15px 0;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(134, 57, 57, 0.11);
  border: none;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
label {
  font-size: 12px;
}
form {
  height: 20%;
  display: grid;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;
}
form button {
  background: rgb(25, 67, 255);
  width: 100%;
  margin: 5px 0;
  color: white;
}
.start {
  background: rgb(48, 33, 253);
  color: white;
}
.break {
  background: rgb(0, 199, 116);
  color: #000000;
}
.reset {
  background: rgb(250, 69, 109);
  color: #000000;
}
.pause {
  background: rgb(253, 143, 17);
}
.resume {
  background: rgb(131, 10, 252);
  color: white;
}
.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s; 
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
 
}
.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
 
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}

@media screen and (min-width: 768px) {
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
  .clock {
    grid-area: clock;
    height: 70%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
    margin-top: 50px;
  }
}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }
}

.w50 {
  width: 40%;
  height: 400px;
  float: left;
 
}

.hide{
  display: "none"
}

.show{
  display: "block"
}


.container{
  max-width: 50%;
  margin:0px auto;
  float: right;
  margin-right: 215px;
  margin-top: 119px;
}

.btn{
  border: none;
  outline: none;
  background-color: rgb(185, 150, 150);
  color:black;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.form-control{
  border: none;
  outline: none;
  border-bottom: 1px dashed gray;
  width: 300px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 15px;
}
.btn:hover{
  background-color: rgb(30, 35, 28);
  color: white;

}

.table{
  border-collapse: collapse;
  width: 100%;
}

.thead-dark{
  background-color: #618f20;
  /* color: white; */
  font-size: 18px;
    color: whitesmoke;
    height: 40px;
    border-bottom: 5px solid darkseagreen;
}

.table-striped>tbody>tr:nth-child(odd){
  background-color: rgb(255 255 255);
  /* font-weight: bold; */
  font-size: 18px;
  padding: 10px;
}

.table-striped>tbody>tr:hover{
  background-color: rgb(97 143 32);
  color: white;
  cursor: pointer;
  padding: 10px;
}
.make-done{
  text-decoration: line-through;
}
.d-none{
  display: none;
}

a{
  text-decoration: none;
}

.text-center{
  text-align: center;
}
.create_job{
  margin-bottom: 20px;
}
.trText{

}